@font-face {
  font-family: regular;
  src: url("/fonts/Inter-Regular.ttf");
}
@font-face {
  font-family: bold;
  src: url("/fonts/Inter-Bold.ttf");
}
@font-face {
  font-family: thin;
  src: url("/fonts/Inter-Thin.ttf");
}
@font-face {
  font-family: light;
  src: url("/fonts/Inter-Light.ttf");
}
html {
  font-size: 62.5%;
}

body {
  background-color: #151719;
  color: #9BA9B4;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

aside, nav, footer, header, section {
  display: block;
}

html, body {
  height: 100%;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

html, body {
  font-family: regular, sans-serif;
}

.section-header {
  padding: 4rem;
  text-align: center;
  color: #D9E3EA;
  font-size: 4rem;
  line-height: 1.25;
  font-weight: 800;
}

.fluid-block {
  padding: 5% 11%;
}

.about {
  position: relative;
  height: 100rem;
}
.about__wave {
  position: relative;
  z-index: 2;
  height: 70rem;
  background: url("/images/wave.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.8;
}
.about-text {
  position: absolute;
  top: 10%;
  left: 0;
  z-index: 3;
  padding: 0 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.about-text__header {
  margin-bottom: 1.6rem;
  color: #D9E3EA;
  line-height: 1.19;
  font-size: 5.2rem;
  font-weight: 800;
}
.about-text__info {
  font-size: 2rem;
  line-height: 1.5;
  color: #D9E3EA;
}
.about__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #33363A 0%, rgba(255, 255, 255, 0) 100%), url("/images/coding.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: brightness(40%);
}

.directions .directions-main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  column-gap: 5rem;
}
.directions .directions-card {
  border-radius: 2rem;
  padding: 10%;
  transition: all 0.3s ease 0s;
}
.directions .directions-card:hover {
  transform: scale(1.1);
}
.directions .directions-card_frontend {
  border: 1px solid #FF6969;
}
.directions .directions-card_frontend:hover {
  background-color: #FF6969;
}
.directions .directions-card_backend {
  border: 1px solid #159895;
}
.directions .directions-card_backend:hover {
  background-color: #159895;
}
.directions .directions-card_devops {
  border: 1px solid #1A5F7A;
}
.directions .directions-card_devops:hover {
  background-color: #1A5F7A;
}
.directions .directions-card_design {
  border: 1px solid #66347F;
}
.directions .directions-card_design:hover {
  background-color: #66347F;
}
.directions .directions-card__img {
  width: 7rem;
  height: 7rem;
  border-radius: 2.6rem;
  margin: 0 auto;
  padding: 0.7rem;
  margin-bottom: 2rem;
}
.directions .directions-card__img_frontend {
  background-color: #FF6969;
}
.directions .directions-card__img_backend {
  background-color: #159895;
}
.directions .directions-card__img_devops {
  background-color: #1A5F7A;
}
.directions .directions-card__img_design {
  background-color: #66347F;
}
.directions .directions-card__title {
  text-align: center;
  font-size: 3.2rem;
  margin-bottom: 2rem;
  color: #D9E3EA;
}
.directions .directions-card__text {
  font-size: 2rem;
  text-align: center;
}
.directions .directions-card:hover .directions-card__text {
  color: #D9E3EA;
}

.technologies .technology-group {
  margin-bottom: 10rem;
}
.technologies .technology-group__name {
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 1.25;
  color: #D9E3EA;
  margin-bottom: 3rem;
}
.technologies .technology-group__main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3rem;
  row-gap: 5rem;
}
.technologies .technology-group__main .technology {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 1.4rem;
  padding: 3rem;
  border-radius: 4rem;
  background-color: #33363A;
}
.technologies .technology-group__main .technology__image {
  width: 8rem;
  height: 8rem;
}
.technologies .technology-group__main .technology__image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.technologies .technology-group__main .technology-content {
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.technologies .technology-group__main .technology-content__title {
  font-size: 4rem;
  color: #D9E3EA;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: 1.3rem;
}
.technologies .technology-group__main .technology-content__description {
  font-size: 2rem;
  line-height: 1.13;
  margin-bottom: 2rem;
}
.technologies .technology-group__main .technology-content__link {
  display: inline-block;
  padding: 1rem;
  width: fit-content;
  margin-left: auto;
  margin-right: 0;
  background-color: #5D5DFF;
  border-radius: 3rem;
  text-align: right;
  color: #D9E3EA;
  font-size: 2rem;
  transition: all 0.3s ease 0s;
}
.technologies .technology-group__main .technology-content__link:hover {
  opacity: 0.8;
  transform: scale(0.95);
}

/*# sourceMappingURL=app.css.map */
