@import "../../assets/styles/abstracts/variables.scss";

.technology {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 1.4rem;
  height: 100%;


  padding: 3rem;
  border-radius: 4rem;
  background-color: $button-secondary;

  .img {
    width: 8rem;
    height: 8rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .content {
    display: grid;
    grid-template-rows: auto 1fr auto;

    h4 {
      font-size: $font-size-h2;
      color: $text-header-color;
      font-weight: 700;
      line-height: 1.25;
      margin-bottom: 1.3rem;
    }

    p {
      font-size: $font-size-paragraph;
      line-height: 1.13;
      margin-bottom: 2rem;
    }

    a {
      display: inline-block;
      padding: 1rem;

      width: fit-content;

      margin-left: auto;
      margin-right: 0;

      background-color: $button-main-color;
      border-radius: 3rem;

      text-align: right;
      color: $text-header-color;
      font-size: $font-size-paragraph;

      transition: all .3s ease 0s;

      &:hover {
        opacity: .8;
        transform: scale(.95);
      }
    }
  }
}
