@import "../assets/styles/abstracts/variables.scss";
@import "../assets/styles/abstracts/mixins.scss";
$footer-bg: #272b2e;

.about {
	position: relative;
	height: 100rem;

	&__wave {
		position: relative;
		z-index: 2;

		height: 80rem;

		background: url('https://pnik1ta.github.io/Portfolio-Website/assets/images/wave.svg');
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		opacity: .8;
	}

  @media screen and (max-width: 800px) {
    &__wave {
      height: 100rem;
    }
  }

  @include respond(small-phone) {
    &__wave {
      height: 120rem;
    }
  }


	&-text {
		position: absolute;
		top: 10%;
		left: 0;
		z-index: 3;
    width: 100%;

		padding: 0 3rem;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		text-align: center;

		&__header {
			margin-bottom: 1.6rem;

			color: $text-header-color;
			line-height: 1.19;
			font-size: $font-size-h1;
			font-weight: 800;
		}

		&__info {
			font-size: $font-size-paragraph;
			line-height: 1.5;
			color: #5dd1ff;
      margin-bottom: 5rem;
      font-weight: 700;
		}

    .links {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 2rem;

      .link {
        width: 8rem;
        height: 8rem;
        border-radius: 100%;
        padding: 1rem;
        border: 1px solid $text-header-color;
        background-color: transparent;

        transition: all 0.3s ease 0s;

        img {
          width: 100%;
          height: 100%;
        }

        &:hover {
          background-color: $text-header-color;
          animation: jump 1s ease-in-out 0s;
        }
      }

      @media screen and (max-width: 350px) {
        .link {
          height: 6rem;
          width: 6rem;
        }
      }
    }
	}

	&__image {
		position: absolute;
		top: 0;
		left: 0;

		width: 100%;
		height: 100%;

		background: linear-gradient(0deg, $button-secondary 0%, rgba(255,255,255,0) 100%), url('https://pnik1ta.github.io/Portfolio-Website/assets/images/coding.jpg');
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		filter: brightness(40%);
	}
}

.directions {
  .directions-main {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		justify-content: space-between;
		column-gap: 3rem;

    @include respond(big-tab) {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 5rem;
    }

    @include respond(small-phone) {
      grid-template-columns: repeat(1 , 1fr);
      row-gap: 5rem;
    }
	}
}

.technologies {
	.technology-group {
		margin-bottom: 10rem;
		&__name {
			font-size: $font-size-h3;
			font-weight: 800;
			line-height: 1.25;
			color: $text-header-color;
			margin-bottom: 3rem;
		}

		&__main {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			column-gap: 3rem;
			row-gap: 5rem;
		}

    @media screen and (max-width: 1500px) {
      &__main {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    @include respond(phone) {
      &__main {
        grid-template-columns: repeat(1, 1fr);
      }
    }
	}
}

.what-can-i-do {
  .ability-cards {
    max-width: 90rem;
    margin: 0 auto;

    app-ability-card {
      display: block;
      &:not(:last-child) {
        margin-bottom: 3rem;
      }
    }
  }
}

.counter {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 7rem;

  padding: 10rem 20%;

  @include respond(big-tab) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include respond(phone) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.projects {
  position: relative;

  .nav {
    position: absolute;
    top: 60%;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 100%;
    background-color: $text-header-color;
    width: 5rem;
    height: 5rem;

    transition: all .2s ease-in-out 0s;

    z-index: 3;

    &_left {
      left: -2%;
    }

    &_right {
      right: -2%;
    }

    &:hover {
      background-color: $button-main-color;
      .arrow {
        border-color: $text-header-color;
      }
    }


    .arrow {
      border: solid $button-main-color;
      border-width: 0 .3rem .3rem 0;
      display: inline-block;
      padding: .3rem;

      &_left {
        transform: rotate(135deg);
      }

      &_right {
        transform: rotate(-45deg);
      }
    }
  }
}

footer {
  padding: 3rem 0;
  background-color: $footer-bg;

  p {
    color: $text-header-color;
    font-size: $font-size-paragraph;
    text-align: center;
    line-height: 1.25;
  }
}