$frontend-direction: #FF6969;
$backend-direction: #159895;
$devops-direction: #1A5F7A;
$design-direction: #66347F;

.directions {
	.directions-main {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		justify-content: space-between;
		column-gap: 2rem;
	}

	.directions-card {
		border-radius: 2rem;
		padding: 10%;
		transition: all .3s ease 0s;

		&_frontend {
			border: 1px solid $frontend-direction;
			&:hover {
				background-color: $frontend-direction;
			}
		}

		&_backend {
			border: 1px solid $backend-direction;
			&:hover {
				background-color: $backend-direction;
			}
		}

		&_devops {
			border: 1px solid $devops-direction;
			&:hover {
				background-color: $devops-direction;
			}
		}

		&_design {
			border: 1px solid $design-direction;
			&:hover {
				background-color: $design-direction;
			}
		}



		&__img {
			width: 7rem;
			height: 7rem;
			border-radius: 2.6rem;
			margin: 0 auto;
			padding: .7rem;
			margin-bottom: 2rem;

			&_frontend {
				background-color: $frontend-direction;
			}

			&_backend {
				background-color: $backend-direction;
			}

			&_devops {
				background-color: $devops-direction;
			}

			&_design {
				background-color: $design-direction;
			}
		}

		&__title {
			text-align: center;
			font-size: $font-size-h3;
			margin-bottom: 2rem;
			color: $text-header-color;
		}

		&__text {
			font-size: $font-size-paragraph;
			text-align: center;
		}

		&:hover {
			.directions-card__text {
				color: $text-header-color;
			}
		}
	}
}