@font-face {
	font-family: regular;
	src: url('/fonts/Inter-Regular.ttf');
}

@font-face {
	font-family: bold;
	src: url('/fonts/Inter-Bold.ttf');
}

@font-face {
	font-family: thin;
	src: url('/fonts/Inter-Thin.ttf');
}

@font-face {
	font-family: light;
	src: url('/fonts/Inter-Light.ttf');
}